table {
    width: 100%;
}

.edit {
    margin-right: 10px;
}

.edit > i {
    color: #d9cd26;
}

.delete > i {
    color: #e35e6b;
}

.button-edit {
    color: #F00;
    cursor: pointer;
    border: none
}

.button-edit:hover {
    color: #000;
    cursor: pointer
}