<div class="container">
    <mat-card class="home mat-elevation-z3">
        <mat-card-title class="title">
            Welcome
        </mat-card-title>
        <mat-card-subtitle class="subtitle">
            Openfabric test in Angular
        </mat-card-subtitle>
    </mat-card>

    <div class="content">
        <a class="input-container" routerLink="/products">
            <h1>Products</h1>
            <p>If you are looking for high-quality products, we are here to help you. We offer a wide variety of
                products that meet your needs and exceed your expectations.</p>
            <p>To learn more information, click here.</p>

        </a>
        <a class="input-container" routerLink="/login">
            <h1>Login</h1>
            <p>To access additional resources, personalized experience, and increased security, please log in by
                clicking here.</p>
        </a>
    </div>
    <div class="container-about" id="container-about">
        <h1>AI Solutions</h1>
        <p>Looking for a company that has a variety of products, quality, and good prices?
            Then you're in the right place! And what if I told
            you that besides finding everything in one place, you can also save money?</p>
        <a href="/about">Do you want to know more? Click here.</a>
    </div>
</div>