<div class="container">
    <img class="logo" src="assets/img/about.png" alt="wallpaper">
    <p class="title">About</p>
    <div>
        <p class="content">
            Once upon a time, there was an artificial intelligence company called <strong>"AI Solutions"</strong>. Founded by a group of
            engineers passionate about technology and with a common goal: to revolutionize the world through AI.
            <br><br>
            From the beginning, the <strong>AI Solutions</strong> team worked tirelessly to create intelligent algorithms capable of
            performing complex tasks and solving problems that previously seemed impossible. Over time, the company grew
            rapidly, attracting investments from major technology companies and gaining recognition for its advancements
            in the field of AI.
            <br><br>
            <strong>AI Solutions</strong> developed voice and image recognition systems, intelligent chatbots, predictive analytics, and
            other innovative AI-based solutions. Its technologies helped businesses in various sectors improve the
            efficiency of their operations, make more precise decisions, and create personalized experiences for their
            customers.
            <br><br>
            Over the years, <strong>AI Solutions</strong> has become one of the most successful companies in the field of AI. But its
            team never stopped seeking new ways to improve its technologies and apply them in increasingly diverse
            areas, from healthcare and safety to science and art.
            <br><br>
            Today, <strong>AI Solutions</strong> is a reference in artificial intelligence and continues to lead innovation in the field,
            with a dedicated and passionate team creating solutions that can change the world for the better.
        </p>

    </div>
</div>