.container {
    margin: 0;
    padding: 20px;
    padding-bottom: 10em;
    background-color: #000;
}

.title {
    font-size: 2rem;
    margin: .5em 0;
    color: #D3D3D3
}

.logo {
    max-height: 60vh;
    max-width: 50wh;
    width: 100%;
}

.content {
    color: #D3D3D3
}