.footer {
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    background-color: #000
}

.footer span {
    font-size: 1rm;
    font-weight: 300;
    color: #D3d3d3;
    
}
.footer span a:hover {
    text-decoration: none;
    color: #F00
}