<mat-sidenav-container class="container">
    <mat-sidenav class="sidenav" mode="side" opened fixedInViewport="true">
        <mat-nav-list class="nav-list">
            <a mat-list-item routerLink="/">
                <div id="links">
                    <i class="material-icons">
                        home
                    </i>
                    <p>Home</p>
                </div>
            </a>
            <a mat-list-item routerLink="/products">
                <div id="links">
                <i class="material-icons">
                    storefront
                </i>
                <p>Products</p>
                </div>
            </a>
            <a mat-list-item routerLink="/about">
                <div id="links">
                <i class="material-icons">
                    info
                </i>
                About
                </div>
            </a>
            <a mat-list-item routerLink="/login">
                <div id="links">
                <i class="material-icons">
                    login
                </i>
                <p>Login</p>
                </div>
            </a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content class="content">
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>